@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* custom properties */
:root {
    --color-mid: #a71d31;
    --color-darker: #3f0d12;
    --color-lighter: #f1f0cc;
    --color-4: #8d775f;
    --color-5: #d5bf86;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: var(--color-lighter);
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Navigation bar */

#navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top:0;
    left:0;
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-darker);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    z-index: 2;
}

#navbar ul {
    display: flex;
    padding: 2rem;
}

#navbar li {
    padding: 1.15rem 1rem;
    border-radius: 0.5em;
    list-style-type: none;
}

#navbar li:hover {
    background-color: var(--color-mid);
}

#navbar a {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--color-5);
    text-transform: uppercase;
}

/* Welcome message */

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section > h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5rem;
    color:var(--color-mid);
}

#IamPavlina {
    animation-name: IamPavlina;
    animation-duration: 10s;
}

@keyframes IamPavlina {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.5;
    }
    100% {
        opacity: 1;
    }
}

#welcome-section > p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    padding-top:1em;
    color:var(--color-4);
    opacity: 0;
}

#career {
    animation-name: career;
    animation-duration: 5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes career {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.5;
    }
    100% {
        opacity: 1;
    }
}

#so-far {
    animation-name: so-far;
    animation-duration: 5s;
    animation-delay:5s;
    animation-fill-mode: forwards;
}

@keyframes so-far {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.5;
    }
    100% {
        opacity: 1;
    }
}

/* Sections */

section {
    height: 100%;
    min-height: 100vh;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    color: var(--color-mid);
    text-transform: uppercase;
    text-align: center;
    padding-top: 5rem;
    padding-bottom:1rem;
}

/* About */

#wrapper {
    display: flex;
    width: 100%;
    height: 75%;     
    flex-flow: wrap;
    align-items: stretch;
}

.textbox {
    min-width: 15rem;
    max-width: 25rem;
    padding: 0.5rem;
    flex: 1 0 31%;
    margin: 0.5rem auto;
    color:var(--color-darker);
    background-color: var(--color-5);
    border: 0.2rem double var(--color-mid);
    border-radius: 0.5rem;
    font-family: Geneva, sans-serif;
    line-height: 1.4rem;
    margin: 1%;
    transition: transform 0.2s, background-color 0.2s; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.textbox:hover {
    transform: scale(1.05);
    background-color: var(--color-lighter);
}

/* Projects page */

h3 {
    font-family: 'Kanit', sans-serif;
    padding-bottom: 0.5rem;
}

#wrapper-projects, #wrapper-exercises {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-section-title {
    font-family: 'Kanit', sans-serif;
    color:var(--color-mid);
    font-size: 1.3rem;
    padding-left: 5%;
    padding-bottom: 0.3rem;
}

#project-gallery, #exercises {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
   border: 0.2em solid var(--color-mid);
   border-radius: 0.4em;
   margin: 0.5rem;
   background-color: var(--color-mid);
   font-family: Geneva, sans-serif;
   color: var(--color-lighter);
   padding-bottom: 0.5rem;
}

.project-tile > a > img, .exercise-tile > a > img {
    width: 20rem;
    height: auto;
    padding-bottom: 0.5rem;
}

.project-tile p {
    padding-left: 0.5rem;
    padding-right:0.5rem;
    font-weight: 535;
}

/* Contacts page */

#Contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contacts-sub-title{
    font-family: 'Kanit', sans-serif;
    font-size: 1.25rem;
    padding-top:1em;
    color:var(--color-4);
    text-align: center;
    margin-top: 6rem;
}

#icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 2rem;
}

#github64 {
    padding-right: 18px;
}

#email-icon {
    width: 45px;
    margin-left:2rem;
    margin-right: 2rem;
}

#phone-icon {
    height: 62px;
    padding-left: 5px;
}

#phone-num-div {
    height: 100vh;
    text-align: center;
    padding-top: 20rem;
}

@media only screen and (max-width: 640px) {
    :root {
        font-size: 13px;
    }

    .sub-section-title {
        align-self: center;
    }
}